/* ==========================================================================
  GERAL
============================================================================= */
.fundobranco{background: #fff;}
.borda{border: 1px solid #ccc;}
.footer{position: inherit !important;}
.sidebar{height: 593px !important;}
.paddingnone{padding: 0 !important;}
.paddingnoneleft{padding-left: 0px;}

.box-header{
         background-color: #4278f5;
         color: white;
         font-size: 18px;
        padding: 10px 20px;    
}
.avaliacaocalendariomes{    
    padding: 5px;
    background: #4278f5;
    text-align: center;
    color: #fff;
    border: 1px solid #4278f5;
}
.avaliacaocalendariodia{border: 1px solid #4278f5;padding: 5px;text-align: center;}
.semborda{border-bottom: 1px solid #ffffff;}  



/*===========================================================================
    Conteúdos:
    
    Sidebar e Topo
============================================================================= */
.sidebar-direitasombra
    {    
        background: #FFF;
        -webkit-backface-visibility: hidden;
        -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.07);
        box-shadow: 5px 5px 8px 8px rgba(50, 50, 50, 0.07);
        height: 600px;
        overflow: auto;
    }
.sidebar-esquerdasombra{
    background: #FFF;
    -webkit-backface-visibility: hidden;
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.07);
    box-shadow: 5px 5px 8px 8px rgba(50, 50, 50, 0.07);
    height: 600px;
    overflow: auto
}
.listagemequipeempresa
{
    overflow-x: auto;
    margin-top: 29px;
    -webkit-padding-start: 0;
}
.linha1topoheader {
    height: 5px;
    background-color: #f6ba1c;
    border-bottom: 0px;
    position: relative;
}
.linha2topoheader{height: 5px;   background-color: #f6eb0f;}
.linha0topoheader{
        min-height: 54px !important;
        height: 50px;
        background: url(/assets/img/topo-site.png) left top repeat-x;
        background-position: -7px;
        background-repeat: no-repeat;
    }
.top-head {
    position: relative;
    z-index: 0;
    min-height: 90px;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
}
.top-head:after {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: 0;
    background: #E5E5E5;
    content: "";
    display: inline-block;
}

.list-group-item .v-middle{padding: 10px 7px;}
.list-group-item:hover{background-color: #0f75bc !important;border-color: #0f75bc !important;}
.list-group-item:hover span{color: #fff!important;}
.list-group-item:hover .text-light{color: #ccc!important;}
.list-group-item .v-middle img{width: 32px;}

/* ==========================================================================
  1. CSS RESET
============================================================================= */
body {
	color: #000;
	font-size: 13px;
	line-height: 1.428571429;
	font-family: "Open Sans", Arial, sans-serif;
}
a,a:hover,a:focus {
	text-decoration: none;
}
a:focus {
	outline: none;
}
a.main-bg:focus,a.main-bg:hover{
	color:#fff
}
.pager li>a:focus{
	background:transparent !important
}
:focus {
	outline: 0;
}
.top-nav ul,.sidebar_widgets,.top-bar ul,.post-meta,.list,.footer-bar ul,.footer-top ul,.footer-bottom ul,.list-details,.sharrre ul,ul.gallery,
ul.larg-socials,.digits ul,.team-socials ul,.commentlist,ul.page-numbers, ul{
	margin: 0;
	padding: 0;
	list-style: none;
    -webkit-padding-start:0px;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}
table {
	width: 100%;
	border: 1px solid #e2e2e2;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: 20px;
}
tr:nth-child(even) {
    background: transparent;
}
tfoot {
	background: #e9e9e9;
	font-weight: bold;
}
th {
	text-transform: uppercase;
    border-right: 1px solid #e2e2e2;
	background: #f5f5f5;
	border-bottom: 2px #777 solid;
}
td, caption {
/*	border-right: 1px solid #e2e2e2;*/	
border-bottom: 1px solid #e2e2e2;
}
tr.even td {
	background: #f9f9f9;
}
th, td, caption {
	padding: 10px;
	vertical-align:middle
}
.table-style2 th {
	border-right-color: #fff;
	border-bottom-color: #5c5c5c;
}
iframe{
	border:0;
}
.block{
	display:block
}
.no-border{
	border:0 !important
}
legend{
	border-bottom:0;
	width: auto;
	display:inline-block;
	font-size:13px
}
.container-fluid > .row{
	margin:0 !important
}
.container-fluid > .row > .col-md-12{
	padding:0 !important
}
.logged-in.admin-bar header.top-head.stickyHeader{
	top:32px !important
}

/* ==========================================================================
  .  Espaçamentos
============================================================================= */
/*Margem top*/

.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}

/*Margem bottom*/
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}



/* ==========================================================================
  . Cadastro primeira parte
============================================================================= */

.transparenciaFormularioprimeiraparte{
    background: rgba(204, 204, 204, 0.51);
    padding: 20px;
    border-radius: 15px;
}
.transparenciaFormularioprimeiraparte div{margin-top: 10px;}
.sessaoprimeirocadastro{background-image: url(../img/bg-1.png);color: #fff; padding: 50px 0;}

/* ==========================================================================
  . Cadastro Segunda parte
============================================================================= */
#cadastro_dados_empresa{ padding: 50px 0;}
#cadastro_dados_empresa div{margin-top: 5px;}
#linha_funcionario_x_setor_vendas{ border-bottom: 1px solid #ccc; padding-bottom: 10px; }
.cadastroempresabotao{
    margin-top: 140px !important;
    padding: 20px;
}
.border{border: 10px solid #F3F3F3; border-radius: 10px; padding: 40px 0;}

/* ==========================================================================
  . Cadastro Terceira parte
============================================================================= */

#cadastro_metas{
    padding: 50px 0;
}
.subtitulo{border-left: 2px solid #12A014;
    padding-left: 5px;
    border-bottom: 2px solid #12A014;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
/* ==========================================================================
  . Cadastro Quarta parte
============================================================================= */
.miniinput{width: 50px !important;}
.bg-info{border: 2px solid #8EA9B7;}

/* ==========================================================================
  Pagina inicial home- linguas footer
============================================================================= */

.linkFooter, .linkFooter a {margin-bottom: 40px; margin-top: 40px; color: #0f75bc; font-size: 14px;}
#segundobocofooter {border-top: 1px solid #ccc; padding-top: 20px; padding-bottom: 20px;}
#terceiroblocofooter {border-top: 1px solid #ccc; padding-top: 20px;}
.listamodificada{-webkit-padding-start: 0px; list-style-type: none;}
.redesocial{height: 32px; width: 32px; border-radius: 5px; float: left; margin-right: 15px;}
.redesocial a:hover img{margin-top: -5px;}
.seloseguranca{float: left;  margin-right: 5px;}
.iconeimgpainel a img{width: 20px; margin-right: 10px;}
/*.sidebar ul{margin-top: 20px;}*/
.imgpessoaempresadireitalateral{ padding: 0px 8px; border-bottom: 1px solid #ccc; margin-bottom: 5px;}
.imgpessoaempresadireitalateral img{width: 42px}
.imgpessoaempresadireitalateral .media{margin-bottom: 5px;}
.nomefuncionario{font-size: 11px; color: #000; margin-top: 10px;}
#resultados .nav-tabs li a:hover{
    color: #0f75bc !important;
    background-color: #ffffff;
    border: 1px solid #e2e9e6;
    border-bottom-color: transparent;
    cursor: pointer;
  }

/*
=================
======= RESULTADOS =====
=================== 
*/ .boxiconeresultados{
    display: inline-block;
    padding: 20px 0;
    border-radius: 13px;
    border: 2px solid #d9d9d9;
    color: #474747;
    box-shadow: 1px 1px 2px 0 #abbbdf;
    margin: 20px 7px;
    }
    .tituloresultados{
    padding: 8px !important;
    border-bottom: 1px solid #ccc;
    text-align: center;
    }
    .valortotal{
    padding: 12px !important;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 21px;
    border-left: 1px solid #ccc;
    }
    .sempading{padding: 0 !important;}
/*    .row [class*="col-"] {padding: 0 0px;}
*/
    #primeira_tela .row [class*="col-"] {
    padding: 0 10px;
}

/*
================= 
=================
=== Resultados estilo CSS 
=================*/


#resultados .sempading{padding: 0px !important;}
#resultados .row [class*="col-"] {padding: 0 0px;}
#resultados .blocotamanho{width: 30.333333% !important;}
#resultados .imgbloco img{max-width: 77px !important; margin-left: 5px;  margin-top: 33px;}
#resultados .estiloblocometa{ padding: 0px !important; border-right: 2px solid #e1e1e1; text-align: center; height: 70px;border-left: 2px solid #e1e1e1; }
#resultados .titulometa{padding: 8px !important; border-bottom: 2px solid #e1e1e1; text-align: center;}
#resultados .mt10{margin-top: 10px;}
#resultados .valormetatitulo{padding: 8px !important; border-bottom: 2px solid #e1e1e1; text-align: center;}
#resultados .valortitulosupermeta{margin-top: 10px; text-align: center;}
#resultados .tituloporcentagemseta{ position: absolute;  margin-left: 27px;  margin-top: -35px; color: #fff; font-size: 12px;}
#resultados .tituloporcentagemsetaoutros{ position: absolute; margin-left: -39px; margin-top: 43px; color: #fff; font-size: 12px;}
#resultados .imgblocooutros img { max-width: 64px !important; margin-left: 6px; margin-top: 7px;}
#resultados .valortotaloutros {padding: 8px !important; text-align: center; font-size: 40px; border-left: 1px solid #ccc;}
#resultados .mt77{margin-top: 77px;}
#resultados .valortotalmensal{ padding: 8px !important; border-bottom: 1px solid #ccc; text-align: center; font-size: 21px; border-left: 1px solid #ccc; }
/*#resultados .panel-default .panel-heading{background-color: #0f75bc; border-color: #0b4974;}
#resultados .nav-tabs li.active a,
#resultados .nav-tabs li a:hover,
#resultados .nav-tabs li.active  a:hover, 
#resultados .nav-tabs li.active a:focus {color: #fff; background-color: #0c5689; border: 0px solid #ffffff;
    border-bottom-color: transparent; cursor: default; border-radius: 5px; cursor: pointer;}
#resultados .nav-tabs li a {color: #fff; background-color: #ccc; border: 0px solid #ccc;
    border-bottom-color: transparent; cursor: default; border-radius: 5px; cursor: pointer; margin-right: 15px;
}*/

/*
=================================
=============================== 
=================  ============
======             ============   
=========== ajuste ============
======        =================
============       =============== 

*/
.modal-backdrop.in{position: inherit !important;}
.navbar.navbar-size-large .navbar-nav li a { height: 49px; line-height: 46px;  font-size: 1.3rem; font-weight: 400; padding: 0 6px;}
.navbar-default .navbar-nav li a i {color: #fff; font-size: 20px !important;}
.navbar-size-large .navbar-brand {height: 42px;line-height: 42px;}
.navbar-default {border-bottom: 1px solid rgba(226, 233, 230, 0);}
.navbar-default .navbar-brand {border-right-color: rgba(101, 89, 89, 0);}
.navbar-default .navbar-nav.navbar-nav-bordered li {border-right-color: rgba(123, 113, 113, 0);}
.navbar-default .navbar-nav  li.notifications a.dropdown-toggle .badge.badge-danger {background: rgb(244, 67, 54) !important;}
.badge.badge-danger{ color: #fff;}
.navbar-nav li.notifications a.dropdown-toggle .badge {display: inline-block; font-size: 9px;
    padding: 3px 6px; vertical-align: middle; margin-top: -15px; margin-left: -7PX;}
.navbar.navbar-size-large .navbar-nav-margin-right {margin-right: 202px;}
.navbar-default .navbar-nav  li a:hover {background-color: #133149;}
.navbar-default .navbar-nav li a:hover i {color: #ffffff;}
.iconeimgpainel:hover{background: #075197 !important;  }
/*.iconeimgpainel:hover a span{ color: #f3ec19 !important;}*/
.st-content {background: #ffffff;}
.sidebar-menu li a {line-height: 29px;  padding-left: 12px; font-size: 12px;}
.sidebar-menu a:hover{color: #fff !important;}
.hasSubmenu:hover, .hasSubmenu li a:hover{background: #075197 !important;}



/*Tipo de medalha*/

.medalhaprata{position: fixed;margin-top: 23px;width: 15px;margin-left: 36px;border-radius: 100%;}
.imgmedalhaprata{border: 3px solid #aeafaf;border-radius: 100%;width: 62px;height: 62px;}
.modalnotatabela{border-radius: 100%; background: #efefef; padding: 9px 14px; cursor: pointer;}


/*Tipo de MODAL padrão com cabecalho azul*/

.modal.in .modal-dialog{ margin-top: 100px; }
.close, .close:focus, .close:hover {
    color: #fff;;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header h4 {
    color: #ffffff;
}

.modal{
    top: 20%; 
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus{
    border-bottom: 1px solid #BDC4D4;
    line-height:22px;
    transition: 0.1s all;
}
.modal-header {
    display: inline-block;
    width: 100%;
    background: #0f75bc;
}


/* ======= Nota de Desempenho  ======= */
.fecharnotadesempenho span{   
    background: #f6bd29;
    padding: 0px 7px;
    border-radius: 100%;
    margin-right: -10px;
}
.box-footer-edicao{ 
    border: 2px solid #8bacf9;
    border-top: none;
    height: 49px;
    text-align: center;
    font-size: 13px;
    background: #fff;
    padding: 5px;
}
.clicavel{cursor: pointer;}


/* =======avaliacao_vendas_meu ======= */
#vendaFaturamentoSemanaAtual th{text-align: center; border-bottom: 1px #ededed solid;}
#vendaFaturamentoSemanaAtual tbody .valores td{    border-right: 1px solid #e2e2e2;
    text-align: center;}