/*    --------------------------------------------------
	:: General
	-------------------------------------------------- */
body {
	font-family: 'Open Sans', sans-serif;
	color: #353535;
}
.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.todoTabela {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.todoTabela tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.todoTabela tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.todoTabela tbody tr.selected td {
	background-color: #eee;
}
.todoTabela tr td:first-child {
	width: 38px;
}
.todoTabela tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.todoTabela .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.todoTabela .star.star-checked {
	color: #F0AD4E;
}
.todoTabela .star:hover {
	color: #ccc;
}
.todoTabela .star.star-checked:hover {
	color: #F0AD4E;
}
.todoTabela .media-photo {
	width: 35px;
}
/* .todoTabela .media-body {
    display: block;
    Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) 
}*/
.todoTabela .media-meta {
	font-size: 11px;
	color: #999;
}
.todoTabela .media .title {
    color: #000;
    font-size: 12px;
    line-height: normal;
    margin: 0;
}
.todoTabela .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.todoTabela .media .title span.finalizado {
	color: #5cb85c;
}
.todoTabela .media .title span.pendente {
	color: #f0ad4e;
}

.todoTabela .media .summary {
	font-size: 14px;
}


/* box inteligente*/

/*Esconde a caixa de seleção, mas permitin que ele seja focado */
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Mova a marca de verificação de distância quando não controlada */
    text-indent: -999999px;
    /* Faz com que o checkd permaneça a mesma verificada e desmarcada */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}


.btn-success .badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}





/* diferentes com remover e icone do lado//*/

.btn-success .badgebox + .badge
{
    /* Mova a marca de verificação de distância quando não controlada */
    text-indent: 0px;
    /* Faz com que o checkd permaneça a mesma verificada e desmarcada */
	width: 27px;
}

 .btn-success  .badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}



/* Estilo do Paper de dentro da tarefa / criar nova  e editar//*/

.paper textarea {
    border: none;
    background-color: transparent;
    height: 100%;
/*    padding: 30px 0 0 55px;*/
    line-height: 30px;
    min-height: 210px;
}
.paper {
    position: relative;
    background: -webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    background: -moz-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    background: linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
}


.scrollable {
    overflow-x: hidden;
    overflow-y: auto;
}

/* Tarefaas / TODO //*/

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}
.todoimagem{ width: 80px; float: left; margin-bottom: 19px;}
.todoTitle{ padding-top: 30px; margin-left: 100px; color: #1D6FAE;}

/*estilo de tarefas inicio */
#notepadTopchamps .panel-body {
    padding: 0px;
}
header.panel-heading {
    background: #eee;
    background: -moz-linear-gradient(top, #fafafa, #e1e1e1);
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));
    border-bottom-color: #999;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -khtml-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    -khtml-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    padding-top: 15px;
    padding-bottom: 15px;
}

.panel-default>.panel-heading {
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}
.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.no-margin {
    margin: 0 !important;
}
.main-content {
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -khtml-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    min-height: 420px;
    position: relative;
    z-index: 1;
    border: none;
}
/*estilo de tarefas final */

.mb30{margin-bottom: 30px;}

#tarefas_table .btn-default .badge {
    color: #4CAF50;
    background-color: rgba(255, 255, 255, 0);
    font-size: 31px;
    top: -14px;
    left: -31px;
    width: 5px;
    height: 0px;
}

#tarefas_table .btn-default {
    color: #444444;
    background-color: #ffffff;
    border-color: #e7e7e7;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
